

#marcar{ margin-left: 352px;

}
body{
	width:500px;
	background-color:black;
	font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.names{
	display:flex;
	flex-direction: column;
}
.post{ margin-left: 10%;
	background:white;

	
}
.post-header{
	display:flex;

	
	
}


 .rigoberto{ 
	padding-top:5%;
	width: 20%;
	height: 20%;
}
.post-image{
	padding: 2px 2px;
}

.tres-pts-box{
	max-width:fit-content;
align-items: right;
;
	
}
.tres-pts{padding-left: 900%;
}

.text1{ margin-left:5px;
}
.text2{ margin-left:5px;
	padding-top:5px;
}

.post-bottom{ margin-left:5px;

}
